html, body {
    margin: 0;
}

html {
    font-size: 24px;
    width: auto;
    font-family: 'Roboto';
}

body {
    text-align: center;
}

.header {
    background-color: #011827;
    display: flex;
    align-items: center;
    padding: 0.8rem 0 0.8rem 1rem;

    h1 {
        font-size: 1rem;
        color: #FFF;
        width: 2rem;
        padding-left: 0.5rem;
        font-weight: 600;
    }

    img {
        width: 6rem;
    }
}

.main {
    .image1 {
        width: 100%;
    }

    .on-site-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: 0.7em 1.5em;
        color: #011827;
        border: none;
        background-color: #8ACFE5;
        font-weight: 700;
        border-radius: 5px;
    }

    .online-challenges-link {
        color: #36769D;
        font-weight: 700;
        font-size: 0.7em;
    }

}

.quote-card {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.8rem;

    img {
        grid-column: 1;
        grid-row: span 2;
        margin-left: 0.6rem;
    }

    p {
        grid-column: 2;
        margin: 0;
        text-align: left;
        padding: 0 0.7rem;
        font-style: italic;
    }
    small {
        grid-column: 2;
        text-align: left;
        font-size: 0.7rem;
        padding: 0 0.7rem;
    }
}

.popular-challenges {
    font-size: 1.3rem;
    margin: 3.5rem 0 1em 0;
    font-weight: 400;
    padding: 1em;
}


.challenge-card {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .challenge-card-text {
        padding: 0.5rem;
        h3 {
            text-align: left;
            margin: 0;
            font-weight: 400;
        }
    
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            align-items: center;
    
            li {
                padding: 5px;
            }
    
            .li-text {
                font-size: 0.6em;
                padding-left: 1em;
    
            }
        }

        p {
            margin-top: 1em;
            font-weight: 400;
            font-size: 1em;
            text-align: left;
            font-size: 0.7rem;
        }

        .red-button {
            background-color: #E3170A;
            color: #FFF;
            border: none;
            border-radius: 5px;
            font-size: 0.6em;
            font-weight: 700;
            padding: 1em 3em;
            margin-left: 6rem;
            display: block;
            margin-left: auto;
            margin-right: 0.1rem;
        }
    }


}


.image6 {
    width: 100%;
}